#!/bin/sh
#
# ~/.xprofile
#
# Sourced by DM

setxkbmap -model pc104 -option ctrl:nocaps
xsetroot -solid "#2b2b2b" -cursor_name left_ptr

feh --randomize --recursive --bg-fill --no-fehbg ~/.backgrounds

xscreensaver -no-splash &
hyper &
