#!/bin/sh
#
# ~/.xprofile
#
# Sourced by DM

setxkbmap -model pc104 -option ctrl:nocaps
xsetroot -solid "#2b2b2b" -cursor_name left_ptr

#TODO: Generate list of files instead of using folders & remove .desktop entries
feh --randomize --recursive --bg-fill /usr/share/wallpapers /usr/share/archlinux/wallpaper &
screensaver -no-splash &
terminology &
